# ==========================================
# Keil MDK / ARM Compiler 编译生成文件
# ==========================================
*.o
*.d
*.crf
*.lnp
*.axf
*.htm
*.build_log.htm
*.dep
*.map
*.lst
*.bak
*.txt
*.iex
*.scvd
*.uvguix.*
*.uvgui.*
# 忽略 Objects 和 Listings 文件夹（Keil 默认生成位置）
/mspm0/keil/Objects/
/mspm0/keil/Listings/

# ==========================================
# SysConfig 备份与中间文件
# ==========================================
.config/
/mspm0/keil/empty.syscfg.bak

# ==========================================
# Python 运行环境
# ==========================================
__pycache__/
*.py[cod]
*$py.class
# 虚拟环境
venv/
env/
.env

# ==========================================
# 编辑器与系统缓存
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==========================================
# 临时文件与日志
# ==========================================
*.log
*.tmp